.aboutme {
    padding: 5vw 0;
}

.about-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5.5vw;
    gap: 3vw;
}

.about-col {
    flex: 1;
    color: rgba(255, 255, 255, 0.8);
}

.about-img {
    flex: 0.5; /* Bild nimmt 50% der Breite ein */
    display: flex;
    align-items: center; /* Vertikale Ausrichtung */
    justify-content: center; /* Horizontale Ausrichtung */
}

.about-img img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.about_title {
    text-align: center;
    margin-bottom: 2rem;
}

.intro-text {
    margin-bottom: 2rem;
}

.tab-titles {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    cursor: pointer;
}

.tab-links {
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
}

.tab-links:hover, .active-link {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}

.tab-contents {
    display: none;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.6;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
}

.active-tab {
    display: block;
}

/* Responsive Anpassungen */
@media screen and (max-width: 768px) {
    .about-container {
        flex-direction: column;
        align-items: center;
    }

    .about-img {
        margin-top: 20px;
        flex: none; /* Bild nimmt die volle Breite im Mobilgerät */
        width: 100%;
    }

    .about-img img {
        width: 100%; /* Bild nimmt die volle Breite ein */
        height: auto;
    }

    .tab-titles {
        flex-direction: column;
        gap: 10px;
    }
}
