aboutMobile {
    display: none;
}

aboutDesktop {
    display: block;
}

@media screen and (max-width: 550px) {
    aboutDesktop {
        display: none;
    }

    aboutMobile {
        display: block;
    }
}
.about-container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 3vw;
    box-sizing: border-box;
}

.about-img-container-mobile {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.about-img-mobile {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.about-img-mobile img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top center;
    border-radius: 5px;
}

.about-col-mobile {
    text-align: center;
    color: rgba(255, 255, 255, 0.8); 
    margin-bottom: 1rem;
}

.about_title-mobile h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.8); 
}

.intro-text-mobile {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
}

.dropdown-mobile {
    margin-bottom: 1rem;
    width: 100%;
}

.dropdown-btn-mobile {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8); 
    border: none; 
    box-shadow: none;
    height: 2.5rem;
}

.dropdown-btn-mobile:hover {
    background-color: rgba(255, 255, 255, 0.3); 
}

.dropdown-content-mobile {
    display: none;
    padding: 20px;
    margin-top: 3px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8); 
}

.active-dropdown {
    display: block;
}

/* Responsive Styles Anpassung */
@media screen and (max-width: 550px) {
    .about-img-mobile img {
        width: 200px;
        height: 200px;
    }
    .intro-text-mobile {
        font-size: 0.9rem;
    }

    .dropdown-btn-mobile {
        padding: 8px;
    }
}