header {
    position: relative;
    width: 100%;
    height: 100vh; 
    background: url("/img/header.jpg") no-repeat center center;
    background-size: cover;
    padding: 5vw;
    box-sizing: border-box;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 0; 
}

.header_image {
    width: 100%;
    height: auto;
    display: none; 
}

.navbar-container {
    position: absolute;
    top: 3vw; 
    left: 3vw;
    right: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    position: relative;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; 
}

nav ul li {
    margin-right: 2vw;
}

nav ul li a {
    position: relative; 
    text-decoration: none;
    color: var(--secondary-text-color);
    padding-bottom: 5px; 
    transition: color 0.3s ease-in-out; 
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.5px; 
    background-color: var(--title-color); 
    transition: width 0.3s ease-in-out; 
}

nav ul li a:hover {
    color: var(--title-color); 
}

nav ul li a:hover::after {
    width: 100%; 
}

nav label {
    display: none;
    cursor: pointer;
}

.mobile-link {
    display: none;
}

@media (max-width: 768px) {
    .desktop-link {
        display: none;
    }
    .mobile-link {
        display: block;
    }
}

.logo {
    max-width: 100px;
    height: auto;
    z-index: 100;
}

.header_titel {
    color: var(--text-color);
    position: absolute;
    left: 3vw;
    bottom: 2vw;
    margin: 0;
}

.header_titel h1 {
    margin: 0;
}

.subheading {
    margin: 1vw 0 0 0;
}


#toggle_button {
    display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        height: 70vh;
    }

    .navbar-container {
        top: 3vw; 
        left: 3vw;
        right: 3vw;
        padding: 0 3vw;
    }

    nav ul {
        flex-direction: column;
        display: none;
        background: rgba(0, 0, 0, 1);
        position: absolute;
        top: 50px;
        left: 0;
        width: 200px;
        border-radius: 5px;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 99;
    }

    #toggle_button:checked ~ ul {
        display: block; 
        transform: translateX(0); 
    }

    nav label {
        display: block;
        position: relative;
        font-size: 2em;
        color: var(--text-color);
        z-index: 101; 
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        padding: 10px;
        display: block;
    }

    .logo {
        max-width: 80px;
        height: auto;
        z-index: 100;
    }

    .header_titel {
        max-width: 80%; 
    }
}

@media (max-width: 480px) {
    header {
        height: 60vh; 
    }

    .logo {
        max-width: 80px;
    }
}
