RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP_HOST} ^medquest.ch$ [NC]
RewriteRule ^(.*)$ https://www.medquest.ch/$1 [L,R=301]