RewriteEngine On

# HTTP to HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# non-www to www
RewriteCond %{HTTP_HOST} ^medquest\.ch$ [NC]
RewriteRule ^(.*)$ https://www.medquest.ch/$1 [L,R=301]

# www.www to www
RewriteCond %{HTTP_HOST} ^www\.www\.medquest\.ch$ [NC]
RewriteRule ^(.*)$ https://www.medquest.ch/$1 [L,R=301]

# incorrect subdomains to www
RewriteCond %{HTTP_HOST} ^(ww|wwww)\.medquest\.ch$ [NC]
RewriteRule ^(.*)$ https://www.medquest.ch/$1 [L,R=301]

# alles andere to www
RewriteCond %{HTTP_HOST} !^www\.medquest\.ch$ [NC]
RewriteRule ^(.*)$ https://www.medquest.ch/$1 [L,R=301]