@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');
:root{
    --main-brand-color: #4b4945;
    --light-main-brand-color: #a5a199;
    --primary-color: #8d8c8c;
    --secondary-color: #5e5e5e;
    --third-color: #393BB1;
    --fourth-color: #2E2F8F;
    --fifth-color:#db00af7d;
    --light-secondary-color: #434343;
    --text-color: #ffffff;
    --secondary-text-color: #9f9f9f;
}

@media screen and (max-width: 530px) {
    main {
         display: block;
    }
    article {
          width: auto;
    }
    }

*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color: var(--primary-color);
    font-family: 'Raleway', sans-serif;
    color: var(--text-color);
}

h1{
    font-size: 70px;
    line-height: 115%;
}

h2{
    font-size: 30px;
    line-height: 115%;
}

h3{
    font-size: 20px;
    line-height: 115%;
}

p{
    font-size: 16px;
    line-height: 175%;
    hyphens: auto;
}

strong {
    font-weight: bold;
}


a{
    color: var(--text-color);
    text-decoration: none;
    position: relative;
    padding: 3px;
    font-size: 20px;
    font-weight: 500;
}

.subheading{
    margin-top: 25px;
    font-size: 30px;
    color: var(--secondary-text-color);
}

@media(max-width: 800px){
    h1{
        font-size: 12px;
        text-align: center;
    }

    .subheading{
        text-align: center;
    }
}